.App-logo {
  height: 25vmin;
  pointer-events: none;
}

html, body {
  margin:0;
  padding:0; 
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.app {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
}

.main {
  padding: 1em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
